@keyframes animLike {
  0% {
    font-size: 55px;
    height: 150px;
    width: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: inherit; }
  100% {
    font-size: 15px;
    height: 47px;
    width: 47px;
    left: calc(100% - 59px);
    top: 2px;
    transform: translate(0%, 0%);
    visibility: inherit; } }

@keyframes animUnlike {
  0% {
    font-size: 15px;
    height: 47px;
    width: 47px;
    left: calc(100% - 59px);
    top: 2px;
    transform: translate(0%, 0%);
    visibility: inherit; }
  100% {
    font-size: 55px;
    height: 150px;
    width: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: inherit; } }

.recipe-container .recipe-image .change-image.new, .recipe-container .recipe-top .recipe-image.new, .recipe-container .recipe-top .recipe-caption {
  display: flex;
  justify-content: center;
  align-items: center; }

.recipe-container {
  background-color: white;
  border: 1px solid #e6e6e6;
  margin-bottom: 20px;
  width: 100%;
  float: left; }
  .recipe-container textarea {
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid #e6e6e6;
    font-size: medium; }
    .recipe-container textarea::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #e5e5e5; }
    .recipe-container textarea:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #e5e5e5; }
    .recipe-container textarea::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #e5e5e5; }
    .recipe-container textarea:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #e5e5e5; }
    .recipe-container textarea::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #e5e5e5; }
  .recipe-container .options {
    width: calc(100% - 10px);
    height: 42px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px 0 0 10px;
    background-color: white; }
    .recipe-container .options .remove {
      float: left;
      cursor: pointer; }
    .recipe-container .options .edit {
      float: left;
      margin-left: 15px;
      cursor: pointer; }
    .recipe-container .options .heart {
      width: 50px;
      position: absolute;
      top: 3px;
      right: 10px;
      cursor: pointer; }
      .recipe-container .options .heart .like.red {
        color: white; }
      .recipe-container .options .heart .like.whit {
        color: black; }
    .recipe-container .options .heart .like {
      position: absolute;
      top: 15px;
      text-align: center;
      width: 100%; }
  .recipe-container .recipe-image {
    float: left;
    width: 100%;
    max-width: 100%; }
    .recipe-container .recipe-image input {
      display: none; }
    .recipe-container .recipe-image label {
      width: 100%; }
    .recipe-container .recipe-image img {
      max-height: 450px; }
    .recipe-container .recipe-image.new img {
      cursor: pointer; }
    .recipe-container .recipe-image:hover .change-image {
      display: block; }
    .recipe-container .recipe-image .change-image {
      position: absolute;
      display: none;
      top: 20%;
      margin: 0 auto;
      left: 0px;
      right: 0px;
      z-index: 9;
      width: 100%;
      height: 120px; }
      .recipe-container .recipe-image .change-image.new {
        position: relative; }
      .recipe-container .recipe-image .change-image img {
        cursor: pointer; }
      .recipe-container .recipe-image .change-image .image {
        float: left;
        width: 75px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%); }
        .recipe-container .recipe-image .change-image .image.paint {
          left: 60%; }
        .recipe-container .recipe-image .change-image .image.add {
          left: 40%; }
      .recipe-container .recipe-image .change-image .image:hover {
        width: 90px; }
  .recipe-container .recipe-top {
    width: 100%;
    float: left;
    position: relative; }
    .recipe-container .recipe-top .animHeart {
      position: absolute;
      visibility: hidden; }
      .recipe-container .recipe-top .animHeart span {
        color: white;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%); }
      .recipe-container .recipe-top .animHeart.like {
        animation: animLike 1.5s; }
      .recipe-container .recipe-top .animHeart.unlike {
        animation: animUnlike 1.5s; }
    .recipe-container .recipe-top .recipe-image.new {
      height: 150px; }
    .recipe-container .recipe-top .recipe-caption {
      width: 100%;
      float: left;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      font-family: 'Josefin Sans', sans-serif;
      bottom: 30px; }
      .recipe-container .recipe-top .recipe-caption.new {
        background-color: white !important;
        color: black;
        position: relative !important;
        bottom: auto !important; }
      .recipe-container .recipe-top .recipe-caption p {
        font-size: x-large;
        color: white;
        font-weight: bold; }
      .recipe-container .recipe-top .recipe-caption .caption-area {
        padding-top: 5px;
        text-align: center;
        font-size: x-large;
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        width: 85%;
        background-color: transparent; }
        .recipe-container .recipe-top .recipe-caption .caption-area.new {
          color: black; }
  .recipe-container .item {
    position: relative; }
    .recipe-container .item h2 {
      color: black;
      font-family: 'Josefin Sans', sans-serif;
      font-size: larger;
      position: absolute;
      left: 10px;
      top: 5px;
      margin: 0; }
  .recipe-container .recipe-text {
    width: 100%;
    float: left; }
    .recipe-container .recipe-text p {
      padding: 30px 10px 0 20px;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: large; }
    .recipe-container .recipe-text .text-area {
      padding: 2px;
      text-align: justify;
      color: black;
      margin: 40px 0 0 20px;
      width: 86%; }
    .recipe-container .recipe-text .recipe-resources {
      width: 30%;
      float: left;
      text-align: left;
      font-size: medium;
      color: black; }
      .recipe-container .recipe-text .recipe-resources .resources-area {
        padding: 3px;
        text-align: left;
        float: right;
        width: 85%;
        margin-top: 40px; }
    .recipe-container .recipe-text .recipe-procedure {
      width: 70%;
      float: left;
      text-align: justify;
      font-size: medium; }
  .recipe-container .recipe-edit {
    width: 100%;
    float: left;
    height: 50px;
    margin-top: 10px; }
    .recipe-container .recipe-edit .recipe-save {
      border-right: 1px solid #e6e6e6; }

.recipe-container .recipe-edit .recipe-save, .recipe-container .recipe-edit .recipe-cancel {
  width: calc(50% - 1px);
  height: 95%;
  float: left;
  cursor: pointer; }
  .recipe-container .recipe-edit .recipe-save p, .recipe-container .recipe-edit .recipe-cancel p {
    width: 20px; }
  .recipe-container .recipe-edit .recipe-save img, .recipe-container .recipe-edit .recipe-cancel img {
    margin-right: 5px; }

.editable p {
  border: 1px solid black; }
