#recipeList-container {
  width: 50%;
  height: 100%;
  max-width: 820px;
  margin: auto auto; }
  @media only screen and (max-width: 850px) {
    #recipeList-container {
      width: 70%; } }
  @media only screen and (max-width: 600px) {
    #recipeList-container {
      width: 98%; } }
  #recipeList-container #addRecipe:hover {
    background-color: #dfdddd !important; }
  #recipeList-container #addRecipe {
    width: 100%;
    float: left;
    background-color: white;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-size: -webkit-xxx-large;
    cursor: pointer;
    border: 1px solid #e6e6e6; }
